<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=รง, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Mi mascota se llama <%= @pet_name%> </h1>
    <h2>Raza: <%= @pet_breed%> </h2> 
    <h2>Credentials <%= @credentials%></h2>
  </body>
</html>
